---
import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();

import Header from "./../../layout/header.astro";
import Fonter from "./../../layout/fonter.astro";
import { AstroSeo } from "@astrolib/seo";

import "../../styles/wurm.styles.css";
import "../../styles/post.styles.scss";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Fonter />
    <title>Wurm Rodeo: {entry.data.title}</title>
    <AstroSeo title="Wurm Rodeo" description="We're gettin' off on Wurm Online." />
  </head>
  <body>
    <Header title="Blog" />
    <div class="blog-panel">
      <h1 class="satisfy-regular">{entry.data.title}</h1>
      <p>
        By: {entry.data.author} on {entry.data.published.toLocaleDateString()}
      </p>
      <Content />
    </div>
  </body>
</html>
