---
import Base from "../../../layout/BaseLayout.astro";
import SalesListItem from "../../../layout/saleListItem.astro";

const allSales = await Astro.glob("./../../../content/sales/*.mdx");

export async function getStaticPaths() {
  return [
    { params: { category: "Carpentry Tools" } },
    { params: { category: "General Tools" } },
    { params: { category: "Horse Gear" } },
  ];
}

const { category } = Astro.params;
const filteredPosts = allSales.filter((sale) =>
  sale.frontmatter.category?.includes(category)
);

const catTitle = `${category}`;
const catSeo = `Sales Category - ${category} from Jackjones`;
---

<Base title={catTitle} seoDescription={catSeo}>
  <div class="blog-panel">
    <h1 class="satisfy-regular">Posts tagged with {category}</h1>

    <ul>
      {filteredPosts.map((post) => <SalesListItem item={post.frontmatter} />)}
    </ul>
  </div>
</Base>
