---
import { undefined } from "astro:schema";
import Base from "../../../layout/BaseLayout.astro";
import SalesListItem from "../../../layout/saleListItem.astro";
import SalesCard from "../../../layout/SalesCard.astro";
import SalesCardSingle from "../../../layout/SalesCardSingle.astro";

const allSales = await Astro.glob("./../../../content/sales/*.mdx");

export async function getStaticPaths() {
  return [
    { params: { category: "Armor" } },
    { params: { category: "Bowery" } },
    { params: { category: "Carpentry Tools" } },
    { params: { category: "General Tools" } },
    { params: { category: "Horse Gear" } },
  ];
}

const { category } = Astro.params;
const filteredPosts = allSales.filter((sale) =>
  sale.frontmatter.category?.includes(category) &&
  (sale.frontmatter.sold === undefined || sale.frontmatter.sold === false)
);

const catTitle = `${category}`;
const catSeo = `Sales Category - ${category} from Jackjones`;
---

<Base title={catTitle} seoDescription={catSeo}>
  <div class="blog-panel">
    <h1 class="satisfy-regular">{category}</h1>
    <p>
      &laquo Return to <a href="/sales/categories">categories</a>.
    </p>

    <div class="card-container">
      {filteredPosts.map((post) => <SalesCardSingle post={post} />)}
    </div>
  </div>
</Base>

<style is:inline>
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
</style>
