---
import { getCollection } from "astro:content";

import Base from "../../layout/BaseLayout.astro";
import SalesCard from "../../layout/SalesCard.astro";

export async function getStaticPaths() {
  const skillEntries = await getCollection("sales");
  return skillEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const fakeEntries: any[] = [];

fakeEntries.push(entry);

export const prerender = true;
---

<Base title={entry.data.name} seoDescription={entry.data.description}>

  <div class="blog-panel">
    <div style="display: flex; justify-content: space-between;">
    <span>&laquo Return to <a href="/sales">sales</a>.</span>
    <span>&laquo Return to <a href="/sales/categories">categories</a>.</span>
  </div>

    <SalesCard sales={fakeEntries} />
    <Content />

    <p>
      /tell Jackjones hey man, I wanna buy that sweet {entry.data.name} (#{
        entry.slug
      })!
    </p>

    <p>
      /tell Jackjones dude, I must have that {entry.data.name} (#{entry.slug})!
    </p>

    <p>
      /tell Jackjones GTFO!, COD that {entry.data.name} (#{entry.slug}) right
      now!
    </p>
  </div>
</Base>
